# Bỏ qua tất cả các file và thư mục
*

# Nhưng không bỏ qua các thư mục (để Git có thể đi vào tìm các file hợp lệ bên trong)
!*/

# Không bỏ qua các file có định dạng cho phép và file .gitignore
!.gitignore
!*.py
!*.md
!*.tex
!*.pdf
